<html>
    <head>
        <title>Wassup gng</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/test.css">
    </head>

    <body id="page-name">
        <h1>This is a test</h1>
    </body>
</html>